.primary-content {
  @extend %content;
  @extend %centered;
  @extend %t-border;
  padding-top: 25px;
  padding-bottom: 95px;

  @media #{$brk-narrow} {
    width: 90%;
  }
}

.secondary-content {
  @extend %content;
  @extend %t-border;
  @extend %clearfix;
  padding-top: 80px;
  padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;

  @media #{$brk-narrow} {
    width: 90%;
  }
}

.wildlife {
  color: white;
  text-align: left;
  padding: 18% 24%;
  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
  background: #434a52 url('#{$path-img}/bear.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: $br;
}