.main-header {
	@extend %centered;
  padding-top: 170px;
  height: 850px;
  background: linear-gradient($color-prim, transparent 90%),
              linear-gradient(0deg, $color-body, transparent),
              $color-prim url('#{$path-img}/mountains.jpg') no-repeat center;
  background-size: cover;
}