/* Web Fonts -------------------- */

@include font-face('Abolition Regular', abolition-regular);

.main {
  &-heading {  
    @include text(5.625rem, 1.3, normal, $color-text-light);
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    margin: 12px 0 0;

    @media #{$brk-narrow} {
      font-size: 5rem;
      line-height: 1.1;
    }
  }
  
  &-title {
    @include text(1.625rem, $weight: 200, $color: $color-text-light);
    letter-spacing: .065em;
    border-bottom: 2px solid;
    padding-bottom: 10px;

    @media #{$brk-narrow} {
      font-size: 1.3rem;
      border: none;
    }
  }
}

.intro {
  font-size: 1.25em;
  line-height: 1.6; 
	color: initial;

  @media #{$brk-narrow} {
    font-size: 1rem;
  }
}