/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  @include text(1em, 1.5, $color: $color-text-base);
  margin: 0;
  font-family: $stack-helvetica;
}

h1,
h2 {
  font-family: $stack-abolition;
}

h2 {
  @include text(3.3125em, 1.1, normal);
  margin: 0 0 .5em;
}

h3 {
  @include text(1.25em, 1.2, $color: $color-text-dark);
  margin-bottom: 1.7em;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: $br;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a {
  &:link {
    color: $color-link-default;
    text-decoration: none;
  }
  &:visited {
    color: $color-link-visited;
  }
  &:hover {
    color: rgba($color-link-default, .5);
  }
}

